<div class="common-service">
    <div class="modal-header">
        <button type="button" class="close"
                ng-click="closeHandler()"
                data-dismiss="modal"><span
                aria-hidden="true">&times;</span><span
                class="sr-only">Close</span>
        </button>
    </div>

    <div class="modal-body">
        <label class="red">
            {{tip}}
        </label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info"
                ng-click="closeHandler()"
                data-dismiss="modal">关闭
        </button>
    </div>
</div>
