.green {
  color: #008000;
}
.red {
  color: #ff0000;
}
.yellow {
  color: #ff9900;
}
.gray {
  color: #999999;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pointer {
  cursor: pointer;
}
.blue {
  color: #1a9ace;
}
.light-yellow {
  color: #fc4f00;
}
.yellow {
  color: #fa9000;
}
.yellow-bg {
  background: #fa9000;
}
.pointer {
  cursor: pointer;
}
.word-break {
  word-break: break-all;
}
.ng-cloak {
  display: none;
}
.ellipsis,
.hr-opt-modSalaryDetail textarea,
.hr-opt-tempCardDel textarea,
.hr-salaryList .detail-content,
.admin-directive-structureInfo .content,
.admin-structure .structure-info .content,
.admin .name-field,
.apply-list .apply-title,
.apply-detail .old-val,
.apply-detail .new-val,
.directive-commonInfo .content,
.directives-multiSelect .content,
.directives-structureSelector .content,
.directive-item-set .name {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.normal-box {
  padding: 10px;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.inline,
.directives-single-select .split {
  display: inline-block;
}
.bold {
  font-weight: bold;
}
body {
  font-family: "Helvetica Neue", Helvetica, PingHei, 'Hiragino Sans GB', 'Microsoft YaHei', arial, sans-serif;
}
.xx-dialog .modal-dialog {
  width: 1000px;
}
.center {
  text-align: center;
}
.clearFloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #f90;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #428bca;
  background: none;
  border-bottom: 4px solid #f90;
}
.nav-pills > li > a {
  border-radius: 0px;
  color: #808080;
}
.dropdown-menu {
  min-width: 10px;
}
.modal-body {
  padding: 15px 30px;
}
.form-group select {
  padding: 0px;
}
.dropdown-menu .cur {
  background: #cccccc;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn-primary {
  color: #fff;
  background-color: #1a9ace;
  border-color: #1f87b8;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: gray;
  background: 0 0;
  border: 0;
  color: #1a9ace;
  border-bottom: 3px solid #1a9ace;
}
.nav-tabs > li > a {
  border-radius: 0;
  color: gray;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #1a9ace;
  border-color: #1f87b8;
  z-index: inherit;
}
.pagination > li > a,
.pagination > li > span {
  color: #1a9ace;
}
.navbar {
  border-radius: 0px;
}
.input-group-addon {
  padding: 6px 2px;
}
.navbar-inverse {
  background-color: #1a9ace;
  border-color: #1a9ace;
}
treecontrol {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* default */
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #555;
  text-decoration: none;
}
treecontrol ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  overflow: hidden;
}
treecontrol li {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 20px;
}
treecontrol li.tree-expanded i.tree-leaf-head,
treecontrol li.tree-collapsed i.tree-leaf-head {
  display: none;
}
treecontrol li.tree-expanded i.tree-branch-head,
treecontrol li.tree-collapsed i.tree-branch-head {
  display: inline;
}
treecontrol li.tree-leaf i.tree-branch-head {
  display: none;
}
treecontrol li.tree-leaf i.tree-leaf-head {
  display: inline;
}
treecontrol li i.tree-branch-head {
  cursor: pointer;
}
treecontrol li .tree-label {
  cursor: pointer;
  display: inline;
}
treecontrol li .tree-unselectable {
  cursor: not-allowed;
}
treecontrol.tree-classic li.tree-expanded i.tree-branch-head {
  padding: 1px 10px;
  background: url("../img/folder.png") no-repeat;
}
treecontrol.tree-classic li.tree-collapsed i.tree-branch-head {
  padding: 1px 10px;
  background: url("../img/folder-closed.png") no-repeat;
}
treecontrol.tree-classic li.tree-leaf i.tree-leaf-head {
  padding: 1px 10px;
  background: url("../img/file.png") no-repeat;
}
treecontrol.tree-classic li .tree-selected {
  background-color: #aaddff;
  font-weight: bold;
}
treecontrol.tree-classic li .tree-unselectable {
  color: #ddd;
}
treecontrol.tree-light li.tree-expanded i.tree-branch-head {
  padding: 1px 10px;
  background: url("../img/node-opened-2.png") no-repeat;
}
treecontrol.tree-light li.tree-collapsed i.tree-branch-head {
  padding: 1px 10px;
  background: url("../img/node-closed-2.png") no-repeat;
}
treecontrol.tree-light li.tree-leaf i.tree-leaf-head {
  padding: 1px 10px;
  width: 16px;
  height: 16px;
  background: none no-repeat;
}
treecontrol.tree-light li .tree-selected {
  font-weight: bold;
}
treecontrol.tree-light li .tree-unselectable {
  color: #ddd;
}
treecontrol.tree-dark li.tree-expanded i.tree-branch-head {
  padding: 1px 10px;
  background: url("../img/node-opened-light.png") no-repeat;
}
treecontrol.tree-dark li.tree-collapsed i.tree-branch-head {
  padding: 1px 10px;
  background: url("../img/node-closed-light.png") no-repeat;
}
treecontrol.tree-dark li.tree-leaf i.tree-leaf-head {
  padding: 1px 10px;
  width: 16px;
  height: 16px;
  background: none no-repeat;
}
treecontrol.tree-dark li .tree-selected {
  font-weight: bold;
}
treecontrol.tree-dark li .tree-unselectable {
  color: #777;
}
treecontrol.tree-dark {
  color: #ddd;
}
.home-yearAward label {
  font-weight: normal;
}
.home-salaryChange label {
  font-weight: normal;
}
.home .glyphicon {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #1a9ace;
}
.home .block {
  cursor: pointer;
  height: 115px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #ffffff;
}
.home .block span {
  color: #333333;
  font-size: 14px;
}
.home .block:hover {
  background: #1a9ace;
  text-decoration: inherit;
}
.home .block:hover .glyphicon {
  color: #ffffff;
}
.home .block:hover span {
  color: #ffffff;
}
.home .container {
  padding-left: 0px;
}
.hr-newer label {
  font-weight: normal;
}
.hr-newer input[type=file] {
  display: inline-block;
}
.hr-newer .btn-area {
  text-align: center;
  margin-top: 15px;
}
.hr-newer .text-muted {
  text-align: left;
}
.hr-newer .structure .col-sm-4 {
  width: 294px;
}
.hr-newer .structure .col-sm-2 {
  width: 0;
}
.hr-newer .structure .company .col-sm-2 {
  width: 150px;
}
.hr-newer .bg-danger {
  margin-top: 10px;
  padding: 10px;
}
.hr-newer .reason {
  margin-top: 10px;
}
.hr-newer .directives-structureSelector .content {
  width: 368px;
}
.hr-newer .edit {
  color: #1a9ace;
  cursor: pointer;
  float: right;
}
.hr-newer .directive-fiveBase {
  margin-left: 76px;
}
.hr-search .form-control {
  display: inline-block;
  width: 150px;
}
.hr-search label {
  display: inline-block;
  width: 90px;
  text-align: left;
}
.hr-search .row {
  margin-top: 10px;
}
.hr-search .row:first-child {
  margin-top: 0px;
}
.hr-search .table-opt-area .custom-cols {
  position: absolute;
  right: 5px;
  top: 5px;
}
.hr-search .query-container {
  border: 1px solid #d8d8d8;
  padding: 10px;
  background: #f9f9f9;
}
.hr-search .query-container .control {
  margin-top: 7px;
}
.hr-search .query-container .col-sm-5 {
  width: 37.5%;
}
.hr-search input[type=date] {
  padding: 6px 2px;
}
.hr-search .search-right {
  text-align: right;
  padding-right: 50px;
}
.hr-search .month {
  width: 153px;
}
.hr-search .export {
  position: absolute;
  right: 150px;
  top: 14px;
}
.hr-search .structure .form-control {
  display: inline-block;
}
.hr-search .inline-opt-area .opt {
  display: inline-block;
  margin-left: 10px;
}
.hr-search .inline-opt-area .opt:first-child {
  display: inline-block;
  margin-left: 0px;
}
.hr-search .table-plus-info {
  margin-top: 10px;
  position: relative;
  top: 5px;
}
.hr-search .return {
  color: #1a9ace;
}
.hr-search .directives-structureSelector .content {
  width: 150px;
}
.hr-directive .wraper-show {
  position: relative;
  border: 1px solid #d8d8d8;
  border-top: 0px;
  padding: 7px;
  margin-top: 10px;
}
.hr-directive .wraper-show .btn {
  top: 2px;
  position: relative;
  float: right;
  margin-left: 10px;
}
.hr-directive .wraper-show:first-child {
  border-top: 1px solid #d8d8d8;
}
.hr-directive .wraper-edit {
  padding: 10px;
  border: 1px solid #d8d8d8;
  background-color: #f6f5f4;
}
.hr-directive .time {
  font-weight: 700;
  color: #999999;
  line-height: 32px;
}
.hr-directive .char {
  display: inline-block;
  margin-left: 50px;
  color: #6d6d6d;
}
.hr-staffInfo .directive-commonInfo {
  margin-left: 0px;
  padding-left: 10px;
}
.hr-staffInfo .table-area {
  margin-top: 15px;
}
.hr-staffInfo .add {
  color: #1a9ace;
  float: right;
  cursor: pointer;
}
.hr-staffInfo .wraper-edit {
  padding: 10px;
  border: 1px solid #d8d8d8;
  background-color: #f6f5f4;
}
.hr-staffInfo .work-title {
  margin-top: 15px;
}
.hr-staffInfo .opt-btn {
  right: 10px;
  float: right;
  position: relative;
  top: -62px;
}
.hr-staffInfo .bg-danger {
  padding: 10px;
  margin-bottom: 10px;
}
.hr-staffInfo .edit {
  float: right;
  cursor: pointer;
  color: #1a9ace;
}
.hr-staffInfo .opt-container {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
.hr-staffInfo .col-btn {
  display: inline-block;
  margin-right: 20px;
}
.hr-staffInfo .container-fluid {
  margin: 0 0 10px 0;
  padding: 0;
}
.hr-secretInfo .family-container {
  margin-top: 10px;
}
.hr-workInfo .col-sm-2 {
  width: 150px;
  text-align: right;
}
.hr-salaryInfo .col-sm-2 {
  width: 150px;
  text-align: right;
}
.hr-salaryInfo .td1 {
  text-align: right;
  width: 134px;
}
.hr-salaryInfo .table1 {
  width: 900px;
  text-align: center;
}
.hr-dimission .col-sm-2 {
  width: 150px;
  text-align: right;
}
.hr-baseInfo .upload-file .col-sm-2 {
  width: 250px;
}
.hr-baseInfo .info-title {
  margin-top: 0px;
}
.hr-baseInfo .mod-mobile {
  left: 358px;
  position: absolute;
}
.hr-changeInfo .directive-table .header {
  position: relative;
  top: 10px;
}
.hr-desertCandidate .reason .col-sm-4 {
  width: 350px;
}
.hr-desertCandidate .detail .col-sm-9 {
  width: 350px;
}
.hr-desertCandidate .detail .col-sm-1 {
  width: 148px;
}
.hr-uploadHeadImg .modal-body {
  padding: 15px;
}
.hr-uploadHeadImg .tip {
  font-size: 15px;
  color: #eeeeee;
}
.hr-uploadHeadImg .img-area {
  padding-left: 20px;
}
.hr-opt-detail .detail-iframe {
  width: 100%;
  height: 600px;
  border: 0;
}
.hr-opt-detail .modal-header {
  border-bottom: 0;
}
.hr-opt-salaryOther .col-sm-2 {
  display: none;
}
.hr-opt-salaryOther .col-sm-4 {
  width: 100%;
  padding: 2px;
}
.hr-opt-salaryOther .table-salary {
  text-align: center;
}
.hr-opt-salaryOther .table-salary tbody tr td {
  padding: 3px;
  vertical-align: middle;
}
.hr-opt-salaryOther .sum {
  width: 100px;
}
.hr-opt-salaryOther .directive-inputValidate {
  position: absolute;
  left: -20px;
  width: 200px;
  top: 30px;
}
.hr-opt-modFiveInsurance .col-sm-2 {
  display: none;
}
.hr-opt-modFiveInsurance .col-sm-4 {
  width: 100%;
  padding: 2px;
}
.hr-opt-modFiveInsurance .col-sm-4 input {
  padding: 3px 2px;
}
.hr-opt-modFiveInsurance .table-salary {
  text-align: center;
}
.hr-opt-modFiveInsurance .table-salary tbody tr td {
  padding: 3px;
  vertical-align: middle;
}
.hr-opt-modFiveInsurance .sum {
  width: 95px;
}
.hr-opt-modFiveInsurance .directive-inputValidate {
  position: absolute;
  left: -20px;
  width: 200px;
  top: 30px;
}
.hr-opt-modFiveInsuranceCom .col-sm-2 {
  display: none;
}
.hr-opt-modFiveInsuranceCom .col-sm-4 {
  padding: 2px;
  width: 100%;
}
.hr-opt-modFiveInsuranceCom .col-sm-4 input {
  padding: 3px 2px;
}
.hr-opt-modFiveInsuranceCom .table-salary {
  text-align: center;
}
.hr-opt-modFiveInsuranceCom .table-salary tbody tr td {
  padding: 3px;
  vertical-align: middle;
}
.hr-opt-modFiveInsuranceCom .sum {
  width: 95px;
}
.hr-opt-modFiveInsuranceCom .directive-inputValidate {
  position: absolute;
  left: -20px;
  width: 200px;
  top: 30px;
}
.hr-opt-modSalaryDetail .col-sm-2 {
  display: none;
}
.hr-opt-modSalaryDetail .col-sm-9 {
  width: 100%;
}
.hr-opt-modSalaryDetail textarea {
  height: 100px;
  word-break: break-all;
}
.hr-opt-tempCardAdd .col-sm-4 {
  width: 350px;
}
.hr-opt-tempCardDel textarea {
  height: 100px;
  word-break: break-all;
}
.hr-opt-tempCardDel .directive-inputControl .col-sm-2 {
  width: 90px;
}
.hr-opt-tempCardBorrow .col-sm-4 {
  width: 350px;
}
.hr-opt-tempCardBorrow .col-sm-2 {
  width: 150px;
  text-align: right;
  font-weight: normal;
}
.hr-opt-tempCardBorrow .col-sm-9 {
  width: 62%;
}
.hr-opt-tempCardReturn .col-sm-4 {
  width: 350px;
}
.hr-opt-tempCardReturn .col-sm-2 {
  width: 150px;
  text-align: right;
  font-weight: normal;
}
.hr-opt-addAssetId .form {
  display: flex;
  margin: 0 5px 17px 210px;
}
.hr-opt-addAssetId .form input {
  display: inline-block;
  width: 120px;
}
.hr-opt-addAssetId .form div {
  overflow: hidden;
  color: #ff0000;
}
.hr-opt-modOfferDetail {
  height: 800px;
}
.hr-opt-modOfferDetail .modalHeader {
  height: 10px;
}
.hr-opt-modOfferDetail .modalHeader .close {
  margin-right: 5px;
}
.hr-opt-modOfferDetail .offer-line {
  text-decoration: underline;
}
.hr-salaryList .form-control {
  display: inline-block;
  width: 150px;
}
.hr-salaryList label {
  display: inline-block;
  width: 90px;
  text-align: left;
}
.hr-salaryList .row {
  margin-top: 10px;
}
.hr-salaryList .row:first-child {
  margin-top: 0px;
}
.hr-salaryList .table-opt-area .custom-cols {
  position: absolute;
  right: 5px;
  top: 5px;
}
.hr-salaryList .query-container {
  border: 1px solid #d8d8d8;
  padding: 10px;
  background: #f9f9f9;
}
.hr-salaryList .query-container .control {
  margin-top: 7px;
}
.hr-salaryList input[type=date] {
  padding: 6px 2px;
}
.hr-salaryList .month {
  width: 153px;
}
.hr-salaryList .export {
  position: absolute;
  right: 80px;
  top: 14px;
}
.hr-salaryList .inline-opt-area .opt {
  display: inline-block;
  margin-left: 10px;
}
.hr-salaryList .inline-opt-area .opt:first-child {
  display: inline-block;
  margin-left: 0px;
}
.hr-salaryList .table-plus-info {
  margin-top: 10px;
  position: relative;
  top: 5px;
}
.hr-salaryList .directive-inputControl input {
  padding: 0px;
  width: 100%;
}
.hr-salaryList .directive-inputControl .col-sm-2 {
  display: none;
}
.hr-salaryList .directive-inputControl .col-sm-4 {
  padding: 0;
}
.hr-salaryList .perform-salary .directive-inputControl input {
  width: 100%;
}
.hr-salaryList .perform-salary div {
  cursor: pointer;
}
.hr-salaryList a {
  cursor: pointer;
}
.hr-salaryList .detail {
  position: relative;
}
.hr-salaryList .detail .detail-edit {
  position: absolute;
  right: 0px;
  top: 10%;
  cursor: pointer;
}
.hr-salaryList .table > tbody > tr > td {
  padding: 6px 0px;
  text-align: center;
}
.hr-salaryList .real-day .directive-inputControl input {
  width: 100%;
}
.hr-salaryList .detail-content {
  width: 30px;
}
.hr-salaryList .table-opt-area {
  padding: 7px 10px;
}
.hr-salaryList .directive-table .header {
  right: 10px;
}
.hr-salaryList .directive-inputControl .display-name {
  top: 0px;
}
.hr-salaryList .directive-inputValidate {
  position: absolute;
  left: -20px;
  width: 200px;
  top: 30px;
}
.hr-salaryList .col-sm-4 {
  width: 100%;
}
.hr-salaryList .col-sm-4 input {
  text-align: center;
}
.hr-salaryList .red a {
  color: red;
}
.hr-salaryList .red input {
  color: red;
}
.hr-salaryList .bg-tip {
  position: relative;
  top: -90px;
}
.popover.perform {
  max-width: 600px;
}
.hr-taxList .form-control {
  display: inline-block;
  width: 150px;
}
.hr-taxList label {
  display: inline-block;
  width: 90px;
  text-align: left;
}
.hr-taxList .row {
  margin-top: 10px;
}
.hr-taxList .row:first-child {
  margin-top: 0px;
}
.hr-taxList .table-opt-area .custom-cols {
  position: absolute;
  right: 5px;
  top: 5px;
}
.hr-taxList .query-container {
  border: 1px solid #d8d8d8;
  padding: 10px;
  background: #f9f9f9;
}
.hr-taxList .query-container .control {
  margin-top: 7px;
}
.hr-taxList input[type=date] {
  padding: 6px 2px;
}
.hr-taxList .month {
  width: 153px;
}
.hr-taxList .export {
  position: absolute;
  right: 20px;
  top: 14px;
}
.tempCard-list .directive-table .header {
  top: -27px;
  position: absolute;
  right: 14px;
  padding-left: 15px;
}
.tempCard-list .table-opt-area {
  line-height: 40px;
}
.hr-monthSalary {
  position: relative;
}
.hr-monthSalary .row {
  margin-top: 15px;
}
.hr-monthSalary .month-char {
  position: relative;
  top: 6px;
}
.hr-monthSalary .row1 {
  padding-top: 10px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
  box-shadow: 0 0 2px 0 #eeeeee;
  border: 1px solid #e8e8e8;
  background: #f8f8f8;
}
.hr-monthSalary .row2 {
  margin-top: 7px;
  text-align: right;
}
.hr-monthSalary .row3 .col-sm-6:first-child {
  padding-left: 0px;
}
.hr-monthSalary .row3 .col-sm-6:last-child {
  padding-right: 0px;
}
.hr-monthSalary .row3 #perform {
  padding-left: 0px;
  padding-right: 15px;
}
.hr-monthSalary .td1 {
  width: 25%;
}
.hr-monthSalary .sum-tip {
  text-align: right;
}
.hr-monthSalary .yinzhang {
  position: absolute;
  top: 300px;
  right: 20px;
  width: 150px;
  height: 150px;
  background-image: url('../img/yinzhang.png');
}
.perform-table table tr td:nth-child(3) {
  text-align: right;
  vertical-align: middle;
}
.perform-table table tr td:nth-child(4) {
  text-align: right;
  vertical-align: middle;
}
.content-container.workTarget {
  padding-bottom: 60px;
}
.content-container.workTarget td:first-child {
  width: 70px;
  vertical-align: top;
}
.content-container.workTarget td:last-child {
  width: 600px;
  padding-left: 20px;
  vertical-align: top;
}
.content-container.formalApply {
  padding-bottom: 60px;
}
.content-container.formalApply td:first-child {
  width: 70px;
  vertical-align: top;
}
.content-container.formalApply td:last-child {
  width: 600px;
  vertical-align: top;
  padding-left: 20px;
  word-break: break-all;
}
.hr-agent .upload-file .col-sm-2 {
  width: 250px;
}
.hr-agent .info-title {
  margin-top: 0px;
}
.hr-agent .mod-mobile {
  left: 358px;
  position: absolute;
}
.hr-agent .btn-area {
  text-align: center;
  margin-top: 15px;
}
.admin-directive-companyInfo .glyphicon {
  color: #fa9000;
}
.admin-directive-companyInfo .form-horizontal .control-label {
  text-align: left;
}
.admin-directive-companyInfo .form-horizontal .col-sm-1 {
  width: 5.5%;
}
.admin-directive-companyInfo .wraper-show {
  position: relative;
  border: 1px solid #d8d8d8;
  border-top: 0px;
  padding: 7px;
  margin-top: 10px;
}
.admin-directive-companyInfo .wraper-show .btn {
  top: 2px;
  position: relative;
  float: right;
  margin-left: 10px;
}
.admin-directive-companyInfo .wraper-show:first-child {
  border-top: 1px solid #d8d8d8;
}
.admin-directive-companyInfo .wraper-edit {
  border: 1px solid #d8d8d8;
  background-color: #f6f5f4;
  padding-bottom: 0px;
}
.admin-directive-companyInfo .time {
  font-weight: 700;
  color: #999999;
  line-height: 32px;
}
.admin-directive-companyInfo .char {
  display: inline-block;
  margin-left: 50px;
  color: #6d6d6d;
}
.admin-directive-levelInfo {
  border-bottom: 1px solid #eee;
}
.admin-directive-levelInfo .wraper-show {
  padding: 10px;
  display: table-row;
}
.admin-directive-levelInfo .wraper-edit {
  padding: 10px;
}
.admin-directive-levelInfo .col1 {
  width: 20%;
  display: table-cell;
}
.admin-directive-levelInfo .col2 {
  width: 50%;
  display: table-cell;
}
.admin-directive-levelInfo .col3 {
  width: 20%;
  display: table-cell;
  padding: 5px 10px;
}
.admin-directive-levelInfo .directive-inputControl .col-sm-2 {
  width: 80px;
  padding-left: 0;
  padding-right: 0;
}
.admin-directive-structureInfo {
  width: 430px;
  position: absolute;
  left: 150px;
  top: 15px;
  background: #ffffdc;
  border: 1px solid #f1cf8e;
  padding: 10px;
}
.admin-directive-structureInfo .name {
  text-align: right;
}
.admin-structure {
  position: relative;
  border: 1px solid #eeeeee;
}
.admin-structure .tree-node:hover .opt {
  display: inline-block;
}
.admin-structure .opt {
  display: none;
}
.admin-structure .node-name {
  position: relative;
}
.admin-structure .tree-light {
  min-height: 700px;
}
.admin-structure .tree-node i {
  font-size: 16px;
}
.admin-structure .structure-info {
  width: 400px;
  float: right;
  right: 10px;
  top: 15px;
  background: #ffffdc;
  border: 1px solid #f1cf8e;
  padding: 10px;
}
.admin-structure .structure-info .name {
  padding: 0px;
  width: 120px;
  text-align: right;
}
.admin-structure .structure-info .row {
  line-height: 30px;
}
.admin-structure .tree-container {
  border-right: 1px solid #eeeeee;
  float: left;
  width: 788px;
  overflow: auto;
}
.admin-structure .disabled {
  color: #d8d8d8;
}
.admin-permission .add {
  float: right;
  color: #1a9ace;
  top: 10px;
  position: relative;
}
.admin-permission .add-block {
  border: 1px solid #d8d8d8;
  background-color: #f6f5f4;
}
.admin-permission .form-horizontal {
  padding: 15px;
}
.admin-permission .form-horizontal .control-label {
  text-align: left;
}
.admin-permission .form-horizontal .col-sm-1 {
  width: 5.5%;
}
.admin-permission .save {
  text-align: center;
  margin-top: 15px;
}
.admin .admin-contractCompany .name-field {
  width: 450px;
}
.admin .admin-contractCompany .directive-table .header {
  display: none;
}
.admin .admin-holiday {
  overflow: hidden;
}
.admin .admin-holiday .form-inline {
  text-align: center;
}
.admin .admin-holiday .holiday {
  background: #fa9000;
  color: #ffffff;
}
.admin .admin-holiday .date-pick-wrap {
  width: 280px;
  margin: 20px auto;
}
.admin .admin-holiday .date-pick-wrap .header {
  border: 1px solid #eeeeee;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.admin .admin-holiday .date-pick-wrap .content {
  padding-left: 0;
}
.admin .admin-holiday .date-pick-wrap .content li {
  text-align: center;
  border: 1px solid #eeeeee;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: top;
  cursor: pointer;
  position: relative;
}
.admin .admin-holiday .date-pick-wrap .holiday-icon {
  font-size: 9pt;
  position: absolute;
  top: -13px;
}
.admin .admin-holiday .border-right {
  border-right: 1px solid #eeeeee;
  padding-bottom: 3000px;
  margin-bottom: -3000px;
}
.admin-level-mod .col-sm-1 {
  width: 20%;
}
.admin-level-mod .col-sm-4 {
  width: 60%;
}
.admin .admin-level .add {
  margin-right: 55px;
  margin-top: 10px;
  color: #1a9ace;
}
.admin .admin-level .add-wrap {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}
.admin .admin-level .directive-inputControl .col-sm-2 {
  width: 80px;
  padding-left: 0;
  padding-right: 0;
}
.admin .admin-level .wraper-edit {
  padding: 10px;
  background: #eeeeee;
}
.admin .admin-level .cur-name {
  font-weight: bold;
  text-align: center;
}
.admin .admin-level .directives-single-select {
  margin-left: -5px;
}
.admin-socialSecurityCity-mod .col-sm-1 {
  width: 20%;
}
.admin-socialSecurityCity-mod .directive-inputControl .col-sm-2 {
  width: 175px;
}
.admin-socialSecurityCity-mod .col-sm-4 {
  width: 32%;
}
.admin-socialSecurityCity-mod input[type=checkbox] {
  margin: 10px 0 0;
}
.admin-socialSecurityCity-mod .medicalPersonalPlus .col-sm-2 {
  width: 30px;
}
.admin-socialSecurityCity-mod .medicalPersonalPlus .col-sm-4 {
  width: 15%;
}
.admin-socialSecurityCity-mod .medicalPersonalPlus .dot {
  display: none;
}
.admin-socialSecurityCity-mod .medicalPersonalPer .col-sm-4 {
  width: 14%;
}
.admin-socialSecurityCity-mod .field2 .col-sm-2 {
  width: 50px;
}
.admin-socialSecurityCity-mod .table .col-sm-4 {
  width: 110px;
}
.admin-socialSecurityCity-mod .table .col-sm-2 {
  display: none;
}
.admin-socialSecurityCity-mod .table .plus {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  top: -10px;
}
.admin-socialSecurityCity-mod .table .plus-input .col-sm-4 {
  width: 45px;
  padding: 0;
}
.admin-structure-mod .col-sm-1 {
  width: 20%;
}
.admin-structure-mod .col-sm-4 {
  width: 60%;
}
.hr-opt-editStructure .col-sm-4 {
  width: 300px;
}
.hr-opt-editStructure .col-sm-4 .col-sm-4 {
  width: 33.333333%;
}
.hr-opt-editStructure .directives-structureSelector .content {
  width: 269px;
}
.hr-opt-editStructure input[type=checkbox] {
  margin-top: 10px;
}
.hr-opt-editStructure .checkboxWrap .col-sm-4 {
  width: 50px;
}
.hr-opt-editStructure hr {
  margin: 0;
}
.hr-opt-editStructure .sub-title {
  margin-top: 0px;
}
.admin .table-opt-area {
  line-height: 45px;
}
.admin .name-field {
  width: 205px;
}
.apply-list {
  margin-top: -10px;
}
.apply-list .sub-tab {
  margin-top: 15px;
}
.apply-list .sub-tab a {
  color: #333333;
  margin-right: 15px;
}
.apply-list .sub-tab .active a {
  color: #1a9ace;
}
.apply-list .directive-table .header {
  right: 10px;
}
.apply-list .table-opt-area .btn {
  margin-top: 10px;
  margin-right: 15px;
}
.apply-list .apply-title {
  cursor: pointer;
}
.apply-detail {
  overflow: hidden;
}
.apply-detail .left {
  display: table-cell;
  width: 75%;
  padding: 10px;
}
.apply-detail .right {
  display: table-cell;
  padding: 10px;
  vertical-align: top;
  border-left: 1px solid #d8d8d8;
}
.apply-detail .hr-newer .col-sm-4 {
  width: 230px;
}
.apply-detail .container {
  width: 780px;
}
.apply-detail .handle-detail {
  width: 400px;
}
.apply-detail .opt-area {
  text-align: center;
  background: #eeeeee;
  border: 1px solid #d8d8d8;
  padding: 10px;
}
.apply-detail .apply-content {
  border: 1px solid #d8d8d8;
  max-height: 410px;
  overflow-y: auto;
  display: table;
  width: 100%;
}
.apply-detail h4 {
  margin: 0px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  background-color: #999;
  color: white;
  font-size: 15px;
}
.apply-detail .arrow-line {
  padding-left: 10px;
  overflow: hidden;
  height: 92px;
  position: relative;
  left: 8px;
  top: -19px;
  border-left: 5px solid #999999;
  overflow: auto;
}
.apply-detail .arrow-line-blue {
  border-left: 5px solid #1a9ace;
}
.apply-detail .status-icon {
  font-size: 18px;
  position: relative;
  top: 5px;
}
.apply-detail .up-arrow {
  position: relative;
  top: -14px;
  height: 0;
  width: 0;
  background: none;
  display: inline-block;
  border: 10px solid transparent;
  border-bottom: 10px solid #999999;
}
.apply-detail .up-arrow-blue {
  border-bottom: 10px solid #1a9ace;
}
.apply-detail .apply-name-line:first-child {
  margin-top: 10px;
}
.apply-detail .content-container {
  border: 0px;
}
.apply-detail h5 {
  display: inline-block;
  background: #1a9ace;
  padding: 15px;
  color: #ffffff;
  border-bottom: 3px solid #1a9ace;
}
.apply-detail .field-name {
  display: inline-block;
  width: 150px;
  text-align: right;
}
.apply-detail .old-val {
  width: 250px;
  position: relative;
  top: 6px;
}
.apply-detail .new-val {
  width: 250px;
  position: relative;
  top: 6px;
}
.apply-detail .trans-full-time .row .col-sm-2 {
  width: 180px;
  text-align: right;
}
.apply-detail .trans-full-time .row .col-sm-4 {
  width: 200px;
}
.apply-detail .apply-detail-leave .reason {
  width: 500px;
}
.apply-detail .apply-detail-leave .detail {
  width: 500px;
}
.apply-detail .row {
  margin-bottom: 15px;
}
.apply-detail .row .col-sm-2 {
  text-align: right;
}
.apply-detail .change-info-container {
  width: 730px;
  margin: 0 auto;
}
.apply-detail .change-info-container .col-sm-9 {
  word-break: break-all;
}
.apply-detail .apply-detail-offerChange .before-title {
  width: 135px;
}
.apply-detail .apply-detail-offerChange .col-sm-1 {
  width: 80px;
}
.apply-detail-offerInfos label {
  font-weight: normal;
}
.apply-detail-offerInfos .text-muted {
  text-align: left;
}
.apply-detail-offerInfos .reason {
  margin-top: 10px;
}
.apply-detail-offerInfos .col-sm-2 {
  text-align: right;
}
.apply-detail-offerInfos .td1 {
  text-align: right;
  width: 134px;
}
.apply-detail-offerInfos .table1 {
  width: 900px;
  text-align: center;
}
.apply-detail-offerInfos .table-agent {
  width: 400px;
}
.apply-detail-offerInfos .table-agent td:first-child {
  width: 200px;
}
.apply-detail-offerInfos .table-agent td:last-child {
  width: 200px;
}
.apply-opt .col-sm-2 {
  text-align: right;
}
.apply-opt h5 {
  display: inline-block;
  background: #1a9ace;
  padding: 15px;
  color: #ffffff;
  position: relative;
  left: -20px;
}
.apply-opt .apply-directive-staffInfo .row .col-sm-2 {
  width: 130px;
  text-align: right;
}
.apply-opt .apply-directive-staffInfo .row .col-sm-4 {
  width: 250px;
}
.apply-opt .directives-structureSelector .content {
  width: 307px;
}
.apply-opt .apply-opt-transFullTime .directive-inputControl .col-sm-2 {
  width: 166px;
}
.apply-opt .apply-opt-transFullTime .detail .col-sm-1 {
  width: 166px;
}
.apply-opt .apply-opt-transFullTime .apply-directive-staffInfo .row .col-sm-4 {
  width: 368px;
}
.apply-opt .apply-opt-transFullTime .apply-directive-staffInfo .row .col-sm-2 {
  width: 134px;
}
.apply-opt .apply-opt-transFullTime textarea {
  height: 150px;
}
.apply-opt-transFullTime .directive-inputControl .col-sm-2 {
  width: 166px;
}
.apply-opt-transFullTime .detail .col-sm-1 {
  width: 166px;
}
.apply-opt-changeStructure .directive-inputControl .col-sm-2 {
  width: 166px;
}
.apply-opt-changeStructure .col-sm-3 {
  width: 200px;
}
.apply-opt-changeStructure .detail .col-sm-1 {
  width: 166px;
}
.apply-opt-changeSalary .col-sm-3 {
  width: 200px;
}
.apply-opt-changeSalary .col-sm-2 {
  width: 135px;
}
.apply-opt-changeSalary .base-tip {
  top: 20px;
  right: 10px;
  position: absolute;
  width: 150px;
}
.apply-opt-changeSalary .td1 {
  width: 114px;
  text-align: right;
}
.apply-opt-changeSalary .table1 {
  text-align: center;
  width: 370px;
}
.apply-opt-changeSalary .directive-fiveBase .col1 {
  width: 57px;
  text-align: right;
}
.apply-opt-changeSalary .directive-fiveBase table {
  left: -20px;
  position: relative;
  width: 473px;
}
.apply-opt-changeSalary .directive-fiveBase .directive-inputControl .display-name {
  padding-left: 15px;
}
.apply-opt-changeSalary .directive-fiveBase .col-sm-4 {
  width: 102px;
  padding-left: 7px;
}
.apply-opt-changeSalary .directive-fiveBase .endow {
  padding-left: 17px;
}
.apply-opt-detail .detail-iframe {
  width: 100%;
  height: 600px;
  border: 0;
}
.apply-opt-detail .modal-header {
  border-bottom: 0;
}
.apply-directive-staffInfo .row {
  margin-bottom: 15px;
}
.apply-directive-staffInfo .row .col-sm-2 {
  text-align: right;
}
.apply-directive-staffInfo .row strong {
  font-size: 12px;
}
.app-container {
  width: 95%;
  margin: 0px auto;
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0px;
  border-top: 1px solid #cccccc;
  text-align: center;
  background: #eeeeee;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
}
.content-container {
  border: 1px solid #eeeeee;
  padding: 15px;
  border-top: 0;
}
.table-opt-area {
  height: 45px;
  position: relative;
  border: 1px solid #d8d8d8;
  border-top: 2px solid #d8d8d8;
  border-bottom: 0px solid #d8d8d8;
  background: #eeeeee;
  padding: 0 10px;
  padding-right: 0;
  margin-top: 15px;
}
.sub-title {
  position: relative;
  left: -15px;
  border-left: 2px solid #1a9ace;
  font-weight: 700;
  margin-top: 30px;
  padding: 10px 10px;
}
.sub-title:first-child {
  margin-top: 0px;
}
.content-block {
  border-bottom: 1px solid #eeeeee;
}
.content-block:last-child {
  border-bottom: 0px;
}
.navbar-nav li .menu-dropdown .char {
  color: #ffffff;
  cursor: pointer;
}
.navbar-nav .num {
  font-size: 12px;
  position: relative;
  left: 6px;
  top: -5px;
  display: inline-block;
  background: #ff0000;
  border-radius: 50%;
  color: white;
  height: 18px;
  width: 18px;
  text-align: center;
  padding: 0 0px;
  line-height: 18px;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: inherit;
  border-color: #428bca;
}
.navbar-right .dropdown-menu {
  left: 0;
  right: auto;
}
#loading-contrainer-back {
  opacity: 0.4;
  z-index: 1060;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  outline: 0;
  background: #eee;
}
#loading-contrainer {
  top: 300px;
  text-align: center;
  position: fixed;
  z-index: 1100;
  width: 100%;
}
#loading-contrainer .loading {
  display: inline-block;
  width: 150px;
  background-color: yellow;
  height: 50px;
  line-height: 50px;
  background-color: #f1cf8e;
}
.form-control[readonly] {
  background: #ffffff;
}
.form-control[disabled] {
  background: #eee;
}
treecontrol ul {
  overflow: visible;
}
treecontrol li {
  border-left: 1px dotted #7ca0e7;
  line-height: 30px;
  font-size: 14px;
}
treecontrol {
  position: relative;
  left: -2px;
}
treecontrol .line {
  top: 13px;
  display: inline-block;
  border-top: 1px dotted #7ca0e7;
  height: 1px;
  width: 14px;
  left: 1px;
  position: absolute;
}
treecontrol.tree-light li.tree-expanded i.tree-branch-head {
  position: relative;
  top: 5px;
  left: 0px;
  padding: 0px;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-top: 7px solid #1a9ace;
  background: none;
  display: inline-block;
}
treecontrol.tree-light li.tree-collapsed i.tree-branch-head {
  position: relative;
  top: 0px;
  left: 2px;
  padding: 0px;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-left: 7px solid #1a9ace;
  background: none;
  display: inline-block;
}
treecontrol.tree-light li.tree-leaf i.tree-branch-head {
  display: none;
}
treecontrol.tree-light li.tree-leaf i.tree-leaf-head {
  padding: 0px;
  width: 0px;
  height: 0px;
}
treecontrol .tree-selected {
  color: #1a9ace;
}
.xx-dialog .modal-dialog {
  width: 1050px;
}
.up-arrow {
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-bottom: 7px solid #1a9ace;
  background: none;
  display: inline-block;
}
.modal-footer {
  text-align: center;
}
h5 {
  border-bottom: 1px solid #cccccc;
}
h5 span {
  display: inline-block;
  border-bottom: 3px solid #1a9ace;
  padding-bottom: 10px;
  padding-right: 10px;
  padding: 0px 10px 10px 5px;
}
.xxx-dialog .modal-dialog {
  width: 98%;
}
.user-info {
  margin-top: 12px;
  float: right;
  color: white;
  cursor: pointer;
}
.user-info .dropdown-menu {
  right: 0;
}
.menu-wrap {
  display: inline-block;
  padding: 20px;
}
.header-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #D8D3D3;
  box-shadow: 0 0 5px #D3D5D6;
  -webkit-box-shadow: 0 0 5px #D3D5D6;
  margin-left: 10px;
}
.top20 {
  margin-top: 20px;
}
.header-nav .dropdown-menu {
  top: initial;
}
.directive-inputValidate {
  color: #ff0000;
}
.directive-inputControl .col-sm-2 {
  width: 150px;
}
.directive-inputControl .file-load {
  display: inline-block;
  position: relative;
  top: 5px;
}
.directive-inputControl .file-download {
  position: relative;
  top: 7px;
  left: 5px;
}
.directive-inputControl .file-download a {
  color: #fa9000;
}
.directive-inputControl label {
  font-weight: normal;
}
.directive-inputControl .upload-file-btn {
  position: relative;
  top: 2px;
  color: #1a9ace;
  color: pointer;
}
.directive-inputControl .upload-file {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 75px;
  color: #1a9ace;
  cursor: pointer;
  opacity: 0;
  z-index: 10;
}
.directive-inputControl .display-name {
  position: relative;
  top: 8px;
}
.directive-inputControl .combine-first {
  padding-left: 0px;
}
.directive-inputControl .textarea-value {
  display: inline-block;
}
.directive-inputControl .combine-scd {
  padding-right: 0;
}
.directives-checkbox-group .group {
  border-bottom: 1px solid #eee;
}
.directives-checkbox-group .content .item {
  width: 140px;
  margin-top: 10px;
}
.directives-checkbox-group .group-name {
  margin-top: 11px;
  vertical-align: top;
  font-weight: bold;
}
.directives-checkbox-group .item-area {
  width: 450px;
  margin-left: 2px;
}
.directives-checkbox-group .btn-wrap {
  margin-top: 10px;
}
.directives-checkbox-group .input {
  cursor: pointer;
}
.directives-custom-cols {
  position: relative;
}
.directives-custom-cols .dropdown-menu {
  padding: 10px;
  width: 540px;
  right: 0px;
  left: inherit;
  margin-left: 2px;
}
.directive-table {
  position: relative;
}
.directive-table .page-container {
  text-align: right;
}
.directive-table .table-area {
  width: 100%;
  overflow-x: auto;
}
.directive-table .no-data {
  top: -23px;
  position: relative;
  text-align: center;
  border-top: 0px;
  height: 200px;
  border: 1px solid #d8d8d8;
}
.directive-table .no-data-tip {
  display: inline-block;
  border: 1px solid #d8d8d8;
  line-height: 40px;
  padding: 0 20px;
  margin-top: 80px;
  background: #fcf8e3;
}
.directive-table .header {
  position: absolute;
  top: -27px;
  padding-left: 15px;
}
.directive-table .header .count {
  color: #1a9ace;
}
.directive-table .checkbox-col {
  width: 30px;
}
.directive-table .td-head {
  text-align: center;
  vertical-align: middle;
}
.directive-table .tbody td {
  vertical-align: middle;
}
.directive-table .body-scroll .tbody {
  display: block;
  max-height: 400px;
  overflow-y: scroll;
}
.directive-table .body-scroll .tbody td {
  word-wrap: break-word;
  word-break: break-all;
}
.directive-table .body-scroll .tbody-head {
  display: block;
}
.directive-table .body-scroll .tbody-head {
  overflow-y: scroll;
}
.directive-table .body-scroll .tbody-head td {
  background: white;
}
.directive-table .body-scroll thead tr {
  display: block;
}
.directive-table .body-scroll th {
  display: block;
}
.directive-table .table > tbody + tbody {
  border-top: 0px solid #ddd;
}
.directive-commonInfo {
  background: #ffffdc;
  border: 1px solid #f1cf8e;
  margin-bottom: 10px;
  padding: 10px;
}
.directive-commonInfo .head-img {
  width: 45px;
  height: 60px;
}
.directive-commonInfo .char {
  margin-top: 15px;
  display: inline-block;
  margin-right: 15px;
}
.directive-commonInfo .content {
  max-width: 185px;
  position: relative;
  top: 4px;
}
.directive-commonInfo .no-head-img {
  background: #ffffff;
  line-height: 75px;
  text-align: center;
  width: 55px;
  font-size: 12px;
  height: 75px;
  border: 1px solid #cccccc;
  padding: 0 2px;
  margin: 0 14px;
  cursor: pointer;
}
.directive-commonInfo .no-head-img .upload-tip {
  color: #cccccc;
}
.directive-commonInfo .head-img-wrap {
  position: relative;
}
.directive-commonInfo .head-img-wrap .edit {
  position: absolute;
  left: 50px ;
}
.directive-commonInfo .padding {
  padding: 10px;
}
.directives-multiSelect {
  position: relative;
}
.directives-multiSelect .caret {
  top: 14px;
  right: 10px;
  position: absolute;
}
.directives-multiSelect .content {
  width: 240px;
  height: 23px;
  cursor: pointer;
}
.directives-multiSelect .dropdown-menu {
  width: 258px;
}
.directives-multiSelect .list-group-item {
  border: 0px;
  border-top: 1px solid #eeeeee;
}
.directives-multiSelect .list-group-item:first-child {
  border-top: 0px solid #eeeeee;
}
.directive-nameSuggestion .name-tip {
  display: inline-block;
  padding-left: 10px;
}
.directives-structureSelector {
  position: relative;
  display: inline-block;
}
.directives-structureSelector .caret {
  top: 14px;
  right: 10px;
  position: absolute;
}
.directives-structureSelector .content {
  width: 100%;
  cursor: pointer;
}
.directives-structureSelector .dropdown-menu {
  width: 400px;
  overflow-x: scroll;
  min-height: 60px;
}
.directive-item-set {
  width: 400px;
  max-height: 180px;
  overflow-y: auto;
}
.directive-item-set .item {
  margin-top: 10px;
}
.directive-item-set .name {
  padding: 2px 12px;
  cursor: auto;
  width: 166px;
  height: 25px;
  background: #eee;
}
.directive-item-set .delete {
  color: #ff0000;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  vertical-align: middle;
}
.directive-item-set .delete:before {
  cursor: pointer;
  content: '\e014';
}
.directive-item-set .data-item {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  padding: 2px 5px;
  background: #eeeeee;
}
.directive-item-set .name-content {
  display: inline-block;
}
.directive-multiName .names-container {
  display: inline-block;
}
.directives-single-select {
  margin: 10px;
}
.directives-single-select .active {
  color: #428bca;
}
.directives-single-select .split {
  color: #c5c2c2;
  margin: 0px 5px;
}
.directive-fiveBase .col-sm-2 {
  display: none;
}
.directive-fiveBase .col-sm-4 {
  width: 191px;
  padding-left: 28px;
}
.directive-fiveBase .thead {
  text-align: center;
}
.directive-fiveBase .col1 {
  display: inline-block;
  width: 85px;
}
.directive-fiveBase .directive-inputControl .display-name {
  padding-left: 50px;
  top: 0px;
}
.directive-fiveBase input {
  padding: 0px;
}
.common-service .modal-footer {
  text-align: center;
}
.common-service .modal-header {
  border-bottom: 0px;
}
.common-service .modal-header .close {
  margin-top: -10px;
}
.common-service .modal-body {
  padding: 10px 30px;
}
.common-service-info .modal-header {
  text-align: center;
  color: #008000;
}
.common-service-login .title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin: 10px 0px;
  text-align: center;
  color: #999999;
}
.common-service-login .slogan {
  text-align: center;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.common-service-login .login-container {
  padding: 10px 0px;
}
.common-service-login input {
  padding: 15px 8px;
  height: 48px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  color: #999999;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
.common-service-login input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #cccccc;
}
