<div class="hr-uploadHeadImg">
    <div class="modal-header">
        <button type="button" class="close"
                ng-click="closeHandler()"
                data-dismiss="modal"><span
                aria-hidden="true">&times;</span><span
                class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">上传照片</h4>
    </div>

    <div class="modal-body ">
        <div class="content-tip">
            <p><label>照片要求</label></p>

            <p>1.近期(半年内)正面免冠电子版照片一张，面带微笑；</p>

            <p ng-if="!userInfo.isAgent">2.穿着深色，最好是本公司服装；</p>

            <p ng-if="userInfo.isAgent">2.着白色logo文化衫;</p>

            <p>3.使用偏暖灰浅色背景；</p>

            <p>4.照片要求: 大于 100KB，小于5M（建议使用单反相机或苹果手机拍摄）；</p>

            <p>5.照片要求人像清晰，神态自然。不建议使用黑白照片或经翻拍的照片；</p>

            <p>6.只能上传png、jpg、jpeg后缀的文件；</p>
        </div>
        <div class="img-area">
            <div image-crop options="imgOptions"></div>
        </div>
    </div>
</div>

