<div class="hr-directive hr-directive-workInfo">
    <div class="wraper-show" ng-show="!editing">
        <span class="time">
            {{startShow}}至{{endShow}}
        </span>
        <span class="char">
            {{company}}
        </span>
        <span class="char">
            {{position}}
        </span>
        <span ng-show='!disable' class="btn btn-sm btn-warning"
              ng-click="onDel()">删除</span>
        <span ng-show='!disable' class="btn btn-sm btn-warning"
              ng-click="onEdit()">编辑</span>
    </div>
    <div class="wraper-edit" ng-show="editing">
        <form class="form-horizontal" name="workForm"
              novalidate="novalidate">
            <div class="form-group">
                <div input-control options="inputOptions.start"
                     ng-model="editInfo.start">
                </div>
                <div input-control options="inputOptions.end"
                     ng-model="editInfo.end">
                </div>
            </div>
            <div class="form-group">
                <div input-control options="inputOptions.company"
                     ng-model="editInfo.company">
                </div>
                <div input-control options="inputOptions.position"
                     ng-model="editInfo.position">
                </div>
            </div>
        <span class="btn btn-sm btn-warning"
              ng-click="onEditSave(workForm)">保存</span>
            <span class="btn btn-sm btn-default"
                  ng-click="onCancelEdit()">取消</span>
        </form>
    </div>
</div>