<div class="hr-search">
    <h5>
        <span>{{title}}</span>
    </h5>

    <form class="form-horizontal query-container" novalidate="novalidate">
        <div class="row">
            <!-- <div class="col-sm-3 control">
                <label>编号:</label>
                <input class="form-control" ng-model="query.number">
            </div> -->
            <div class="col-sm-3 control"
                 ng-show="!isRecruitHRSearch">
                <label>姓名:</label>
                <span name-suggestion ng-model="query.name"></span>
            </div>
            <div class="col-sm-3 control"
                 ng-show="isRecruitHRSearch">
                <label>姓名:</label>
                <input class="form-control" ng-model="query.name"/>
            </div>
            <div class="col-sm-3 control">
                <label>手机号:</label>
                <input class="form-control" ng-model="query.mobile">
            </div>
            <div class="col-sm-3 control">
                <label>直属领导:</label>
                <span name-suggestion ng-model="query.leader"></span>
            </div>
            <div class="col-sm-3 control">
                <label>员工状态:</label>
                <select class="form-control" ng-model="query.status"
                        ng-options="m.id as m.name for m in staffStatus">
                </select>
            </div>
            <div class="col-sm-3 control"
                 ng-show="!isRecruitHRSearch && !userInfo.isAgent">
                <label>员工类型:</label>
                <select class="form-control" ng-model="query.type"
                        ng-options="m.id as m.name for m in staffType">
                </select>
            </div>
            <div class="col-sm-3 control">
                <label>组织架构:</label>
                <span structure-selector ng-model="query.structure"
                      options='structureOptions'>
                        >
                </span>
            </div>
            <div class="col-sm-5 control"
                 ng-show="isRecruitHRSearch"
                    >
                <label>入职日期:</label>
                <input class="form-control" placeholder="yyyy-MM-dd" type='date'
                       ng-model="query.promiseEnterDateBegin">
                至
                <input type='date' placeholder="yyyy-MM-dd"
                       class="form-control"
                       ng-model="query.promiseEnterDateEnd">
            </div>
            <div class="col-sm-3 control" ng-show="isAssetManagerSearch">
                <label>电脑类型:</label>
                <select ng-model="query.pcType" class="form-control"
                        ng-options="m.id as m.name for m in pcTypeItems">
                </select>
            </div>
            <div class="col-sm-1 control">
                <button class="btn btn-primary" ng-click="onSearch()">查询
                </button>
            </div>
        </div>
    </form>
    <div class="table-plus-info">
        <div ng-show="leaderStack.length">
            <span class="return pointer" ng-click="returnLastLeaderClick()">
                <i class="glyphicon glyphicon-arrow-left"></i>
                返回
            </span>
        </div>
    </div>
    <div class="table-opt-area">
        <a class="export" target="_blank" href="{{exportUrl}}"
           ng-show="showExport">
            导出
        </a>

        <div class="custom-cols" custom-cols options="userDefineColOptions"
             ng-show="showCustomCols"
             confirm-handler='userDefineColConfirmHandler(error)'>
        </div>
    </div>
    <div table-control options="tableOptions">
    </div>
</div>
