<div class="hr-opt-tempCardReturn">
    <div class="modal-header">
        <button type="button" class="close"
                ng-click="closeHandler()"
                data-dismiss="modal"><span
                aria-hidden="true">&times;</span><span
                class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">归还临时卡</h4>
    </div>

    <div class="modal-body ">
        <form class="form-horizontal" role="form" novalidate
              name="tempCardReturnForm">
            <div class="form-group">
                <label class="col-sm-2">卡名:</label>
                <div class="col-sm-4">{{cardName}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2">借卡人:</label>
                <div class="col-sm-4">{{borrowName}}</div>
            </div>
            <div class="modal-footer">
                <button type="submit"  class="btn btn-primary"
                        ng-click="save(tempCardReturnForm)">归还
                </button>
                <button type="button" class="btn btn-default"
                        ng-click="closeHandler()"
                        data-dismiss="modal">关闭
                </button>
            </div>
        </form>
    </div>
</div>

